@font-face {
    font-family: Dongle;
    src: url(./Dongle/Dongle-Bold.ttf);
}

body {
    font-family: Dongle;
    display: flex;
}

img {
    width: 100px
}

header {
    display: flex;
    justify-content: space-around;
    height: 100px;
}

.rightheader {
    display: flex;
    justify-content: space-between;
}

